# Lower Case

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('USA_Housing.csv')

In [3]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 <b>Michael Ferry</b> Apt. 674\nLaurabury, ..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
df['Address'] = df['Address'].str.lower()

In [5]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 <b>michael ferry</b> apt. 674\nlaurabury, ..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 johnson views suite 079\nlake kathleen, ca..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 elizabeth stravenue\ndanieltown, wi 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,uss barnett\nfpo ap 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,usns raymond\nfpo ae 09386

# Remove html tags

In [6]:
import re
def remove_html_tags(text) :
    pattern = re.compile('<.*?>')
    return pattern.sub(r' ', text)

In [7]:
df['Address'] = df['Address'].apply(remove_html_tags)

In [8]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 michael ferry apt. 674\nlaurabury, ne ..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 johnson views suite 079\nlake kathleen, ca..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 elizabeth stravenue\ndanieltown, wi 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,uss barnett\nfpo ap 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,usns raymond\nfpo ae 09386

# Remove URLs

In [9]:
def remove_url(text) :
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r' ', text)

In [10]:
text1 = 'Check out my notebook https://www.kaggle.com/datasets'
text2 = 'Check out my notebook http://www.kaggle.com/datasets'
text3 = 'Check out my notebook www.kaggle.com/datasets'
text4 = 'Check out my notebook https://www.kaggle.com/datasets or www.kaggle.com/datasets'

In [11]:
remove_url(text1)

'Check out my notebook  '

In [12]:
remove_url(text2)

'Check out my notebook  '

In [13]:
remove_url(text3)

'Check out my notebook  '

In [14]:
remove_url(text4)

'Check out my notebook   or  '

# Remove Punctuation

In [15]:
import string, time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
exclude = string.punctuation

In [17]:
def remove_punc(text) :
    for char in exclude :
        text = text.replace(char, ' ')
    return text

In [18]:
t = 'string . with punctuation?'

In [19]:
print(remove_punc(t))

string   with punctuation

In [20]:
def remv_punc(text) :
    return text.translate(str.maketrans(' ' , ' ', exclude))

In [21]:
print(remv_punc(t))

string  with punctuation

In [22]:
df1 = pd.read_csv('labeled_data.csv')

In [23]:
df1.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [24]:
df1['tweet'][0]

"!!! RT @mayasolovely: As a woman you shouldn't complain about cleaning up your house. &amp; as a man you should always take the trash out..."

In [25]:
import string
exclude = string.punctuation

def remv_punc(text) :
    return text.translate(str.maketrans(' ' , ' ', exclude))

In [26]:
df1['tweet'] = df1['tweet'].apply(remv_punc)

In [27]:
df1.head

<bound method NDFrame.head of        Unnamed: 0  count  hate_speech  offensive_language  neither  class  \
0               0      3            0                   0        3      2
1               1      3            0                   3        0      1
2               2      3            0                   3        0      1
3               3      3            0                   2        1      1
4               4      6            0                   6        0      1
...           ...    ...          ...                 ...      ...    ...
24778       25291      3            0                   2        1      1
24779       25292      3            0                   1        2      2
24780       25294      3            0                   3        0      1
24781       25295      6            0                   6        0      1
24782       25296      3            0                   0        3      2

                                                   tweet
0       RT mayasolovely As a woman you shouldnt compl...
1       RT mleew17 boy dats coldtyga dwn bad for cuff...
2       RT UrKindOfBrand Dawg RT 80sbaby4life You eve...
3         RT CGAnderson vivabased she look like a tranny
4       RT ShenikaRoberts The shit you hear about me ...
...                                                  ...
24778  yous a muthafin lie 8220LifeAsKing 20Pearls co...
24779  youve gone and broke the wrong heart baby and ...
24780  young buck wanna eat dat nigguh like I aint fu...
24781              youu got wild bitches tellin you lies
24782  Ruffled  Ntac Eileen Dahlia  Beautiful color c...

[24783 rows x 7 columns]>

In [28]:
df1['tweet'][0]

' RT mayasolovely As a woman you shouldnt complain about cleaning up your house amp as a man you should always take the trash out'

# Chat word treatment

In [48]:
chat_words = {
'CU' : 'See You',
'CUL8R' : 'See You Later',
'CYA' : 'See You',
'FAQ' : 'Frequently Asked Questions',
'FC' : 'Fingers Crossed',
'FWIW' : 'For What Its Worth',
'FYI' : 'For Your Information',
'GAL' : 'Get A Life',
'GG' : 'Good Game',
'GN' : 'Good Night',
'GMTA' : 'Great Minds Think Alike',
'GR8' : 'Great',
'G9' : 'Genius',
'IC' : 'I See'
}

In [53]:
def chat_conversation(text):
    new_text = []
    for w in text.split() :
        if w.upper() in chat_words :
            new_text.append(chat_words[w.upper()])
        else :
            new_text.append(w)
        
    return " ".join(new_text)

In [54]:
chat_conversation('FYI Natural language processing helps computers communicate with humans in their own language and scales other language-related tasks.')

'For Your Information Natural language processing helps computers communicate with humans in their own language and scales other language-related tasks.'

# Spelling Correction

In [31]:
from textblob import TextBlob

In [32]:
incorrect_text = 'ceertain condition during seveal ggenaration arre modified in the same maner'
x = TextBlob(incorrect_text)
x.correct().string

'certain condition during several generation are modified in the same manner'

# Removing Stop Words

In [33]:
from nltk.corpus import stopwords

In [34]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [37]:
def remove_stopwords(text) :
    new_text = []
    for word in text.split() :
        
        if word in stopwords.words('english') :
            new_text.append(' ')
        else :
            new_text.append(word)
    return " ".join(new_text)

In [38]:
remove_stopwords('i am Nafisa Tabassum. i have a Cat.')

'    Nafisa Tabassum.       Cat.'

In [39]:
df1.head

<bound method NDFrame.head of        Unnamed: 0  count  hate_speech  offensive_language  neither  class  \
0               0      3            0                   0        3      2
1               1      3            0                   3        0      1
2               2      3            0                   3        0      1
3               3      3            0                   2        1      1
4               4      6            0                   6        0      1
...           ...    ...          ...                 ...      ...    ...
24778       25291      3            0                   2        1      1
24779       25292      3            0                   1        2      2
24780       25294      3            0                   3        0      1
24781       25295      6            0                   6        0      1
24782       25296      3            0                   0        3      2

                                                   tweet
0       RT mayasolovely As a woman you shouldnt compl...
1       RT mleew17 boy dats coldtyga dwn bad for cuff...
2       RT UrKindOfBrand Dawg RT 80sbaby4life You eve...
3         RT CGAnderson vivabased she look like a tranny
4       RT ShenikaRoberts The shit you hear about me ...
...                                                  ...
24778  yous a muthafin lie 8220LifeAsKing 20Pearls co...
24779  youve gone and broke the wrong heart baby and ...
24780  young buck wanna eat dat nigguh like I aint fu...
24781              youu got wild bitches tellin you lies
24782  Ruffled  Ntac Eileen Dahlia  Beautiful color c...

[24783 rows x 7 columns]>

In [40]:
df1['tweet'].apply(remove_stopwords)

0        RT mayasolovely As   woman   shouldnt complain...
1        RT mleew17 boy dats coldtyga dwn bad   cuffin ...
2        RT UrKindOfBrand Dawg RT 80sbaby4life You ever...
3             RT CGAnderson vivabased   look like   tranny
4        RT ShenikaRoberts The shit   hear     might   ...
                               ...
24778    yous   muthafin lie 8220LifeAsKing 20Pearls co...
24779    youve gone   broke   wrong heart baby   drove ...
24780    young buck wanna eat dat nigguh like I aint fu...
24781                  youu got wild bitches tellin   lies
24782    Ruffled Ntac Eileen Dahlia Beautiful color com...
Name: tweet, Length: 24783, dtype: object

# Remove Emojis

In [55]:
import re

def remove_emojis(data):
    emoj = re.compile("["
        u"\U00002700-\U000027BF"  # Dingbats
        u"\U0001F600-\U0001F64F"  # Emoticons
        u"\U00002600-\U000026FF"  # Miscellaneous Symbols
        u"\U0001F300-\U0001F5FF"  # Miscellaneous Symbols And Pictographs
        u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
        u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
        u"\U0001F680-\U0001F6FF"  # Transport and Map Symbols
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

In [58]:
remove_emojis('i loved the movie 😀 😍')

'i loved the movie  '

In [63]:
import emoji
print(emoji.demojize('Python is  🔥'))

Python is  :fire:

# Tokenization

In [65]:
sent1 = 'I am going to Dhaka'
sent1.split()

['I', 'am', 'going', 'to', 'Dhaka']

In [67]:
sent2 = 'My name is Nafisa Tabassum.I am a computer science student. I love working with technologies'
sent2.split('.')

['My name is Nafisa Tabassum',
 'I am a computer science student',
 ' I love working with technologies']

In [68]:
# Problems with split function 
sent3 = 'I am going to Dhaka!'
sent3.split()

['I', 'am', 'going', 'to', 'Dhaka!']

In [70]:
import re
sent4 = "I am going to Dhaka!"
tokens = re.findall("[\w]+", sent4)
tokens

['I', 'am', 'going', 'to', 'Dhaka']

In [71]:
sent5 = 'Lorem Ipsum is simply! dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys? standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'
text = re.compile('[.!?] ').split(sent5)
text

['Lorem Ipsum is simply',
 'dummy text of the printing and typesetting industry',
 'Lorem Ipsum has been the industrys',
 'standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book',
 'It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged',
 'It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.']

In [72]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [73]:
sent = 'I live in Dhaka'

In [74]:
word_tokenize(sent)

['I', 'live', 'in', 'Dhaka']

In [75]:
sent5 = 'Lorem Ipsum is simply! dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys? standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'

In [76]:
sent_tokenize(sent5)

['Lorem Ipsum is simply!',
 'dummy text of the printing and typesetting industry.',
 'Lorem Ipsum has been the industrys?',
 'standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
 'It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.',
 'It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.']

In [77]:
sent6 = "You can connect me on tnafisa18@gmail.com" #problem

In [78]:
word_tokenize(sent6)

['You', 'can', 'connect', 'me', 'on', 'tnafisa18', '@', 'gmail.com']

In [79]:
sent7 = 'it will cost ou 150$ for 2km.'

In [80]:
word_tokenize(sent7)

['it', 'will', 'cost', 'ou', '150', '$', 'for', '2km', '.']

In [86]:
import spacy # one of the best
nlp = spacy.load('en_core_web_sm')

TypeError: dataclass_transform() got an unexpected keyword argument 'field_specifiers'

In [87]:
from nltk.stem.porter import PorterStemmer

In [88]:
ps = PorterStemmer()
def stem_words(text) :
    return " ".join([ps.stem(word) for word in text.split()])

In [90]:
sample = "walk walking walked walks"
stem_words(sample)

'walk walk walk walk'

In [91]:
sample1 = "The company is a product of shifting cultures around the 1970s and 1980s, inspiration stemming from music of the time."

In [92]:
stem_words(sample1)

'the compani is a product of shift cultur around the 1970 and 1980s, inspir stem from music of the time.'

In [1]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentance = 'He was running and eating at the same time. He has bad habit of swimming after playing long hours in the sun'